

.bg--white {
  background-color: $white;
}

.bg--black {
  background-color: $black;
}

.color--black {
  color: $black;
  &:hover, &:focus, &:active {
    color: $black;
  }
}


.color--white {
  color: $white;

  &:hover, &:focus, &:active {
    color: $white;
  }
}

.text-primary{
  color: $black !important;
}

.bg-primary{
  background-color: $black !important;
}

// .color--grey__mid{
//   color: $grey--mid;
// }
